#input_bar
{
	margin:auto;
	width: 480px; 
    height: 30px;
    padding: 5px 5px;
    font: 16px arial;
    border: 1px solid #b8b8b8;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
    outline: none;
    box-shadow: none;
	position:fixed;
	top:300px;
	left:420px;
}

#image
{
    position:fixed;
	top:120px;
	left:450px;
    /*left: 50%;*/
   /* margin-left: -220px;*/
}
#search_btn
{
    position: fixed;
	top:300px;
	left:905px;
	height: 30px;
}
#div3{ 
    width:300px; 
    height:50px; 
    border:1px solid #000; 
    text-align:right;
} 